#root {
  display: block;
  justify-content: center;
  text-align: center;
  align-content: center;
  background: linear-gradient(rgb(100,0,255), rgb(0,0,0));
  margin: -1em;
}

.header-container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  
}

.space-between {
  padding-left: 6em;
  padding-right: 6em;
}

h1 {
  font-size: 2.5em;  
  color: white;
}

button {
  position: relative;
  width:100px;
  height:75px;
  top: 20px;
}

.contact-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.contact {
  color:white;
  list-style:circle;
  align-content: flex-start;
}