#root {
  display: block;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.header-container {
  display:inline-flex;
  justify-content: center;
  align-content: center;

}

.space-between {
  padding-left: 10em;
  padding-right: 10em;
}

h1 {
  font-size: 2.5em;
  color: linear-gradient(rgb(100, 0, 255), rgb(50, 0, 255));
  
}